
    <!-- Service Section
    ================================================== -->
    <div id="tf-services">
        <div class="container"> <!-- container -->
            <div class="row"> <!-- row -->
                
                <div class="col-md-6 text-right">  <!-- Left Content Col 6 -->
  <form class="bg-left">
  <strong><h5> Create Profile, Already Registered ? <a href="#"> Login</a></h5></strong>
  <br>
   <div class="form-group">
    <input type="firstname" class="form-control" id="inputfirstname" placeholder="First Name">
  </div>
   <div class="form-group">
    <input type="lastname" class="form-control" id="inputlastname"  placeholder="Last Name">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="inputemail"  placeholder="Email Address">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="inputpassword" placeholder="Password">
  </div>
    <div class="form-group">
    <input type="password" class="form-control" id="inputconfirmpassword" placeholder="Confirm Password">
  </div>
      <div class="form-group">
    <input type="country" class="form-control" id="inputcountry" placeholder="Country">
  </div>
  <div class="form-group">
    <select class="form-control" id="programs">
   <option value="" selected="selected">Programs</option>
   <option value="EMBA">Executive MBA</option>
   <option value="MBS">Master of Business Statistics</option>
   <option value="MIM">Master of International Marketing</option>
   <option value="BSBA">Bachelor of Business Administration</option></select>
    </select>
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="inputphone" placeholder="Phone Number">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> <!-- End Service #3 -->

                </div> <!-- End Left Content Col 6 -->

                <div class="col-md-6"> <!-- Right Content Col 6 -->
                        <div class="media-body" style="padding-left: 20px; padding-top: 30px;">
                             <div class="media-left media-middle">
                <h2 style="color:white; font-size: 60px; font-weight: 600;">IMT Dubai</h2>
                <h3 style="color:white; font-size: 36px; font-weight: 600;">Application Form</h3>
                <br>
                <br>
                <span style="color:white; font-size: 20px; ">The next application deadlines are:<br>
                        <strong>Graduate:</strong>     April 25th, 2017.<br>
                       <strong> Undergraduate: </strong>   May 25th, 2017.<br>
                        <br>
                        Apply now to secure your seat</span>   
                            </div>
                        </div> 

            
                </div><!-- end container -->
    </div>