
    <!-- Service Section
    ================================================== -->
    <div id="tf-services">
        <div class="container"> <!-- container -->
            <div class="row"> <!-- row -->
                
                <div class="col-md-6 text-right">  <!-- Left Content Col 6 -->
  <form class="bg-left" name="signupform" ng-submit="signupuser(user)" ng-disabled="signupform.$invalid">
  <strong><h5> Create Profile, Already Registered ? <a href="#"> Login</a></h5></strong>
  <br>
   <div class="form-group">
    <input type="firstname" class="form-control" id="inputfirstname" name="firstname" placeholder="First Name" ng-model="user.firstName" required>
    <p class="form-error" ng-show="signupform.firstname.$error.required && signupform.firstname.$touched">Enter your First Name</p>
  </div>
   <div class="form-group">
    <input type="lastname" class="form-control" id="inputlastname"  name="lastname" placeholder="Last Name" ng-model="user.lastName" required>
    <p class="form-error" ng-show="signupform.lastname.$error.required && signupform.lastname.$touched">Enter your Last Name</p>
  </div>
  <div class="form-group">
    <input type="email" class="form-control" id="inputemail" name="email" placeholder="Email Address" ng-model="user.email" required>
    <p class="form-error" ng-show="signupform.email.$error.required && signupform.email.$touched">Enter your Email ID</p>
    <p class="form-error" ng-show="signupform.email.$error.email">Not a Valid Email ID</p>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="inputpassword" minlength="8" name="password" placeholder="Password" data-ng-model="user.password" required>
    <p class="form-error" ng-show="signupform.password.$error.required && signupform.password.$touched">Enter your Password</p>
    <p class="form-error" ng-show="signupform.password.$error.minlength">Password must be atleast 8 Characters</p>
  </div>
    <div class="form-group">
    <input type="password" class="form-control" name="confirmpassword" id="inputconfirmpassword" placeholder="Confirm Password" data-ng-model="user.confirmPassword" data-ng-match="user.password" required>
    <p class="form-error" ng-show="signupform.confirmpassword.$error.required && signupform.confirmpassword.$touched">Confirm your password</p>
    <p class="form-error" ng-show="signupform.confirmpassword.$error.match && signupform.confirmpassword.$touched">Password do not match</p>
  </div>
      <div class="form-group">
    <input type="country" class="form-control" id="inputcountry" placeholder="Country" ng-model="user.country">
  </div>
  <div class="form-group">
    <select class="form-control" id="programs" ng-model="user.program">
   <option value="" selected="selected">Programs</option>
   <option value="EMBA">Executive MBA</option>
   <option value="MBS">Master of Business Statistics</option>
   <option value="MIM">Master of International Marketing</option>
   <option value="BSBA">Bachelor of Business Administration</option></select>
    </select>
  </div>
  <div class="form-group">
    <input type="phone" class="form-control" id="inputphone" placeholder="Phone Number" ng-model="user.phone">
  </div>
  <button type="submit" class="btn btn-primary" ng-disabled="signupform.$invalid">Submit</button>
</form> <!-- End Service #3 -->

                </div> <!-- End Left Content Col 6 -->

                <div class="col-md-6"> <!-- Right Content Col 6 -->
                        <div class="media-body" style="padding-left: 20px; padding-top: 30px;">
                             <div class="media-left media-middle">
                <h2 style="color:white; font-size: 60px; font-weight: 600;">IMT Dubai</h2>
                <h3 style="color:white; font-size: 36px; font-weight: 600;">Application Form</h3>
                <br>
                <br>
                <span style="color:white; font-size: 20px; ">The next application deadlines are:<br>
                        <strong>Graduate:</strong>     April 25th, 2017.<br>
                       <strong> Undergraduate: </strong>   May 25th, 2017.<br>
                        <br>
                        Apply now to secure your seat</span>   
                            </div>
                        </div> 

            
                </div><!-- end container -->
    </div>