<div id="tf-services" style="padding: 10% !important;">
        <div class="container"> <!-- container -->
            <div class="row" style="padding: 5%;" > <!-- row -->
                
                <div class="col-md-6 text-right">  <!-- Left Content Col 6 -->
  <form class="bg-left" method="post" class="registration-form" name="login" ng-submit="loginuser(user)">
    <strong><h5> Don't Have a Profile ? <a href="/"> Create Account</a></h5></strong>
    <br>
    <div class="form-group">
        <input type="email" class="form-control" id="inputemail"  placeholder="Email Address" ng-model="user.email" name="email" required>
        <p class="form-error" ng-show="login.email.$error.required && login.email.$touched">Enter your Email ID</p>                                    
    </div>
  <div class="form-group">
    <input type="password" class="form-control" id="inputpassword" placeholder="Password" ng-model="user.password" name="password" required>
    <p class="form-error" ng-show="login.password.$error.required && login.password.$touched">Enter your Password</p>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form> <!-- End Service #3 -->

                </div> <!-- End Left Content Col 6 -->

                <div class="col-md-6"> <!-- Right Content Col 6 -->
                        <div class="media-body" style="padding-left: 20px;">
                             <div class="media-left media-middle">
                <h2 style="color:white; font-size: 60px; font-weight: 600;">IMT Dubai</h2>
                <h4 style="color:white; font-size: 36px; font-weight: 600;">Application Form</h4>
                <br>
                <br>
                <span style="color:white; font-size: 20px; ">The next application deadlines are:<br>
                        <strong>Graduate:</strong>     April 25th, 2017.<br>
                       <strong> Undergraduate: </strong>   May 25th, 2017.<br>
                        <br>
                        Apply now to secure your seat</span>   
                            </div>
                        </div> 

            
                </div><!-- end container -->
    </div>
        </div></div>