<div style="margin-top:100px; margin-left:50px;">
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Application</h4>
	        </div>
	        <div class="modal-body">
	          	<table class="table">
					<thead></thead>
					<tbody>
						<tr>
							<td>Firstname</td><td>{{currentApplication.firstname}}</td>
						</tr>
						<tr>
							<td>Lastname</td><td>{{currentApplication.lastname}}</td>
						</tr>
						<tr>
							<td>passportNumber</td><td>{{currentApplication.passportNumber}}</td>
						</tr>
						<tr>
							<td>Date of Birth</td><td>{{currentApplication.dob}}</td>
						</tr>
						<tr>
							<td>Country of Birth</td><td>{{currentApplication.countryOfBirth}}</td>
						</tr>
						<tr>
							<td>Accomadation required</td><td>{{currentApplication.accommodationRequired}}</td>
						</tr>
						<tr>
							<td>Country of Birth</td><td>{{currentApplication.countryOfBirth}}</td>
						</tr>
						<tr>
							<td>Gender</td><td>{{currentApplication.gender}}</td>
						</tr>
						<tr>
							<td>Nationality</td><td>{{currentApplication.nationality}}</td>
						</tr>
						<tr>
							<td>Passport Validity</td><td>{{currentApplication.passportValidUntil}}</td>
						</tr>
						<tr>
							<td>Phone Number</td><td>{{currentApplication.phonenumber}}</td>
						</tr>
						<tr>
							<td>Preferred start Date</td><td>{{currentApplication.preferredStartDate}}</td>
						</tr>
						<tr>
							<td>Program Of Interest</td><td>{{currentApplication.programOfInterest}}</td>
						</tr>
						<tr>
							<td>Transportation required</td><td>{{currentApplication.transportationRequired}}</td>
						</tr>
						<tr>
							<td>Visa required</td><td>{{currentApplication.visaRequired}}</td>
						</tr>
					</tbody>
				</table>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        </div>
      </div>
	      
	    </div>
    </div>
	  <table class="table">
			<thead>
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>passportNumber</th>
				<th>Date of Birth</th>
				<th>Country of Birth</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="application in applications" >
				<td>{{application.firstname}}</td>
				<td>{{application.lastname}}</td>
				<td>{{application.passportNumber}}</td>
				<td>{{application.dob}}</td>
				<td>{{application.countryOfBirth}}</td>
				<td><button class="btn btn-primary" ng-click="viewUserData(application)">View</button></td>
			</tr>
			</tbody>
		</table>
</div>