<div style="margin-top:100px; margin-left:50px;">
	  <table class="table">
			<thead>
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>passportNumber</th>
				<th>Date of Birth</th>
				<th>Country of Birth</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="application in applications">
				<td>{{application.firstname}}</td>
				<td>{{application.lastname}}</td>
				<td>{{application.passportNumber}}</td>
				<td>{{application.dob}}</td>
				<td>{{application.countryOfBirth}}</td>
			</tr>
			</tbody>
		</table>
</div>